streamlit
langchain
torch
accelerate
ctransformers
pypdf2
chromadb
python-dotenv
transformers
vertexai
sentence_transformers
huggingface_hub
gcsfs
google-cloud-aiplatform  
google-api-python-client
st-files-connection
gcsfs
