streamlit
langchain
torch
accelerate
tiktoken
ctransformers
replicate
pypdf2
chromadb
python-dotenv
transformers
vertexai
sentence_transformers
huggingface_hub
openai
google-cloud-aiplatform  
google-api-python-client